@import url('https://fonts.googleapis.com/css2?family=Rambla&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:400&family=Rambla&display=swap');

/*  (ecriture , texte )  font-family: 'Rambla', sans-serif; */
/* titre font-family: 'Russo One', sans-serif;
    background: #fffcfc; */


body {
margin:0; 
background: rgba(204,195,195,0.74);
background: linear-gradient(330deg,rgba(204,195,195,0.74) 0%, #f7f7f7 40%, #fffcfc 50%, #ffffff 40%, rgba(204,195,195,0.8) 80%);
background: -webkit-linear-gradient(330deg,rgba(204,195,195,0.74) 0%, #f7f7f7 40%, #fffcfc 50%, #ffffff 40%, rgba(204,195,195,0.8) 80%);
background: -moz-linear-gradient(330deg,rgba(204,195,195,0.74) 0%, #f7f7f7 40%, #fffcfc 50%, #ffffff 40%, rgba(204,195,195,0.8) 80%);
}

* {
  scroll-behavior: smooth; 
}




/* galerie image */


img{

    max-width:100%;
    
    }
    
    
    .slideshow{
    overflow: hidden;
    margin: 2rem auto;
    position: relative;
    margin-top: 8%;
    background-size: cover;
    padding: 0px 0px;
    
    }
        
    .slideshow ul{
    
    padding-bottom: 66.67%;/* ratio pour le responsive */
    margin: 0;
    list-style-type: none;
    position: relative
        
        }
        
        
    .slideshow li{
    
    top: 0;
    left: 0;
    animation: slideshow 25s ease infinite;
    position: absolute;
    opacity: 0;
    
    
    }
    
        
    
    .slideshow li:nth-child(2){
    
    animation-delay: 5s
    
    }
    
    .slideshow li:nth-child(3){
    
    animation-delay: 10s
    
    }
    
    .slideshow li:nth-child(4){
    
    animation-delay: 15s
    
    }
    
    .slideshow li:nth-child(5){
    
    animation-delay: 20s
    
    }
    
        
    @keyframes slideshow{
        
    0%{opacity: 0}
    
    10%{opacity: 1}
    
    20%{opacity: 1}
    
    25%{opacity: 0}
    
    100%{opacity: 0}
        
        } 
    
        
    .slideshow span{
    
    background: rgba(0,0,0,0.7);
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(255, 255, 255);
    font-family: 'Rambla', sans-serif;
    position: absolute;
    cursor: pointer;
    bottom: 0;
    right: 0;
    left: 0
    
    }
     
  /* Les jeux  */  

  #tournoi {
    margin: 100px 2% 0 2%;
    padding: 40px 10px 60px 40px;
    
    font-family: 'Russo One', sans-serif;
  }
  #tournoi h3 {
    font-size: 5em;
    text-transform: uppercase;
    color:rgb(0, 0, 0) ;
    width: 100%;
    margin: 0 0;
    padding-bottom: 15px;
    font-style: oblique;
    text-align: center;
    border: 4px solid;
    background-color: #B22222;
    border-radius: 4em;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);



  }

  #tournoi > p {
    font-size: 2em;
    text-align: center;
    margin: 10% ;
  }
  .jeuxvideo {
    display: flex;
  }
  .jeuxvideo:nth-child(2) {
    margin-left: 3%;
  }
  .jeuxvideo:nth-child(3) {
    margin-left: 6%;   
  }
  .jeuxvideo:nth-child(4) {
    margin-left: 9%;   
  }
  .cadre {
    position: relative;
    padding: 40px 20px 25px 0;
    width: 60%;
    max-width: 600px;
    border: none;
    outline: none;
    background-color: transparent;
    margin: 10px 8px;
    color: #aca49c;
    text-align: center;
  }
  .img-container {
    height: 400px;
    width: 90%;
    max-width: 400px;
    overflow: hidden;
    background-size: cover;
    margin: 0 auto;
    box-shadow: 1px 1px 10px rgb(155, 155, 155);
    border-radius: 15%;
  }
  .img-container img {
    position: relative;
    height: 100%;
    margin: 0 auto;
  }
  .img-container:hover img {
    transform: scale(1.07);
    transform-origin: 50% 50%;
    filter: contrast(140%);
    transition: 0.3s ease-in-out;
  }
  .cadre:before, .cadre:after {
    content: '';
    display: block;
    position: absolute;
    width: 50%;
    height: 50%;
    border: 1px solid;
    transition: all 0.6s ease;
    z-index: -1;
    border-radius: 10%;
  }
  .cadre:before {
    top: 4%;
    left: 2%;
    border-bottom-color: transparent;
    border-right-color: transparent;
  }
  .cadre:after {
    bottom: 0px;
    right: 0%;
    border-top-color: transparent;
    border-left-color: transparent;
    
  }
  .cadre:hover:before, .cadre:hover:after {
    border-color: #aca49c;
    width: 100%;
    height: 100%;
  }
  .legende {
    max-width: 550px;
    padding: 50px 0 0 20px;
    opacity: 0;
    transition: 4s ease-in-out;
  }
  .jeuxvideo:hover .legende {
    opacity: 1;
    transition: 2s ease;
  }
  
  .legende a {
    padding: 16px 10px 10px 10px;
    margin-top: 20px;
    margin: 10px;
    font-size: 1.1em;
    float: right;
    list-style: none;
    text-decoration: none;
    
    border-radius: 20%;
    background-color: #e2dedb;
    animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }
  .legende a:active {
    animation: shadow-push 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }
  .legende h5 {
      text-transform: uppercase;
      color: #B22222;
  }
  .legende h4 {
    font-family: 'Russo One', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
  }
  


  
  
  @keyframes shadow-pop-tr {
    0% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      transform: translateX(0) translateY(0);
    }
    100% {
      box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      transform: translateX(-6px) translateY(8px);
    }
  }
  
  @keyframes shadow-push {
    0% {
        box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
        transform: translateX(-6px) translateY(8px); 
    }
    100% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      transform: translateX(0) translateY(0);
    }
  }
  

  /* media quentin page accueil*/


  
@media (max-width: 880px) {

  .slideshow {
    margin-top: 26%;
  }

  #tournoi h3 {
    font-size: 1.2em;
  }
  #tournoi p {
    font-size: 1em;
  }

  .img-container {
    max-width: 200px;
    max-height: 200px;
  }
  .legende {
    font-size: 0.6em;
  }

  .legende a {
    font-size: 0.6em;
    text-align: center;
  }
  .legende img {
    height: 80px;
    width: 80px;
  }
  .cadre:hover:before .cadre:hover:after {
    display: none;
  }


}

@media (max-widht: 380px) {

  .slideshow {
    margin-top: 25%;
  }
  #tournoi {
    font-size: 1em;
  }
  .legende img {
    height: 120px;
    width: 200px;
  }
  




}
  





